* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
h2 {
  color: #b8e7e8;
  margin: 10px auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  min-height: 100vh;
  background: url('./assets/bg.png') no-repeat;
  background-position: center;
  object-fit: cover;
}

/* Profile */
.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.1);
  margin: 100px 0px 10px;
}
.profile-image .profile-name {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 10px;
}

/* Social */
.social {
  gap: 20px;
  margin-bottom: 10px;
}

/* Projects */
.project {
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}
.project li a {
  width: 250px;
  height: 50px;
  color: #b8e7e8;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.project li a:hover {
  transition: 0.5s;
  color: #ffffff;
  background-color: #000633;
}

/* Footer */
footer p {
  color: #b8e7e8;
  margin-bottom: 10px;
}
